   .great{
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
   }
.intro {
   height: 85%;
   width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 .gre-h1 {
  font-size: 4rem;
}
 .small-des-gre{
    font-size: 1.5rem;
 }
  .ScrollBtn{
    background: none;
  }
  nav {  
   height: 100%;
   width: 60%;
   display: flex;
   justify-content: center;
   align-items: center;
}
  .top-page{
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: space-between;
     background-color: black;
}
   .logo-gre{
    height: 60%;
    width: 40%;
    margin: 20px;
    display: flex;
    align-items: center;
   }
   .name-gre{
      margin: 0px 0px 0px 5px;
      padding:  0px 0px 0px 5px;
   }
    .big-circle{
        height: 80px;
        width: 80px;
        border-radius:  50%;
        background-color: rgb(22, 208, 190);
        display: flex;
        justify-content: center;
        align-items: center;
    }
      .middle-circle{
        height: 70%;
        width: 70%;
        border-radius: 50%;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
    }
       .small-circle{
        height: 70%;
        width: 70%;
        border-radius: 50%;
        background-color:white;
        display: flex;
        justify-content: center;
        align-items: center;
       }
        .min-circle{
        height: 50%;
        width: 50%; 
        border-radius: 50%;
        background-color: black;
        }
         ul{
            height: 100%;
            width: 100%;
            list-style: none;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 0;
            padding: 0;
         }
         li{
            font-size: 1.2rem;
            color: white;
            padding: 0px;
         }
          .hire{
            background-color: rgb(22, 208, 190);
            color: white;
            border: none;
            padding: 10px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1.2rem;
          }
