
   .great{
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.intro {
   height: 85%;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 0 20px;
   box-sizing: border-box;
}

.gre-h1 {
   font-size: 4rem;
   text-align: center;
   margin: 0;
}

.small-des-gre{
   font-size: 1.5rem;
   text-align: center;
}

.ScrollBtn{
   background: none;
   cursor: pointer;
   margin-top: 20px;
}

nav{
  flex:1;
  display:flex;
  justify-content:flex-end;
}


.top-page{
  width:100%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  background:black;
  padding:10px 40px;
  flex-wrap:wrap;
}


.logo-gre{
  display:flex;
  align-items:center;
  gap:10px;
}


.name-gre{
   margin: 0px 0px 0px 5px;
   padding: 0px 0px 0px 5px;
   font-size: 1.2rem;
   white-space: nowrap;
}

.big-circle{
  width:clamp(40px,6vw,80px);
  height:clamp(40px,6vw,80px);
   border-radius: 50%;
   background-color: rgb(22, 208, 190);
   display: flex;
   justify-content: center;
   align-items: center;
   flex-shrink: 0;
}

.middle-circle{
   height: 70%;
   width: 70%;
   border-radius: 50%;
   background-color: black;
   display: flex;
   justify-content: center;
   align-items: center;
}

.small-circle{
   height: 70%;
   width: 70%;
   border-radius: 50%;
   background-color: white;
   display: flex;
   justify-content: center;
   align-items: center;
}

.min-circle{
   height: 50%;
   width: 50%; 
   border-radius: 50%;
   background-color: black;
}

ul{
  flex-wrap:wrap;
  justify-content:center;
  gap:12px;
 display: flex;
}


li{
   font-size: 1.2rem;
   color: white;
   padding: 0px;
}

.abt-btn{
   background: none;
   border: none;
   color: white;
   cursor: pointer;
   font-size: 1.2rem;
}

.hire{
   background-color: rgb(22, 208, 190);
   color: white;
   border: none;
   padding: 10px 15px;
   border-radius: 5px;
   cursor: pointer;
   font-size: 1.2rem;
}

.soft-sec{
   color: rgb(22, 208, 190);
}
