
   .great{
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.intro {
   height: 85%;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 0;
   margin: 0;
}

.gre-h1 {
   font-size: 2rem;
    margin: 0;
   padding: 0;
}

.small-des-gre{
   font-size: 1rem;
   padding: 0px 10px 0px 0px;
   text-align: center;
}

.ScrollBtn{
   background: none;
   cursor: pointer;
   margin-top: 20px;
}

nav{
   height: 40%;
   width: 100%;
  flex:1;
 display:flex;
  justify-content: center;
}


.top-page{
  height: 15%;
  width:100%;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  background:black;
  padding: 10px;
  margin: 0px;
}


.logo-gre{
   width: 100%;
   height: 60%;
  display:flex;
  justify-content: center;
  align-items:center;
}


.name-gre{
   margin: 0px 0px 0px 5px;
   padding: 0px 0px 0px 5px;
   font-size: 1.2rem;
   white-space: nowrap;
}

.big-circle{
  width:clamp(40px,6vw,80px);
  height:clamp(40px,6vw,80px);
   border-radius: 50%;
   background-color: rgb(22, 208, 190);
   display: flex;
   justify-content: center;
   align-items: center;
   flex-shrink: 0;
}

.middle-circle{
   height: 70%;
   width: 70%;
   border-radius: 50%;
   background-color: black;
   display: flex;
   justify-content: center;
   align-items: center;
}

.small-circle{
   height: 70%;
   width: 70%;
   border-radius: 50%;
   background-color: white;
   display: flex;
   justify-content: center;
   align-items: center;
}

.min-circle{
   height: 50%;
   width: 50%; 
   border-radius: 50%;
   background-color: black;
}

ul{
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 20px;
}


li{
   text-align: center;
   color: white;
   margin: 0px;
   padding: 0px;
   list-style: none;
}

.abt-btn{
   background: none;
   border: none;
   color: white;
   cursor: pointer;
   font-size: 0.9rem;
   padding: 5px;
}


.soft-sec{
   color: rgb(22, 208, 190);
}
