
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 .gre-h1 {
  font-size: 4rem;
}
 .small-des-gre{
    font-size: 1.5rem;
 }
  .ScrollBtn{
    background: none;
  }
  nav {  
   display: flex;
   justify-content: center;
   align-items: center;
}
ul{
    display: flex;
    gap: 15px;
    border: 3px solid rgba(2, 21, 81, 0.679) ;
    background-color: rgba(0, 170, 255, 0) ;
    border-radius: 15px;
    width: fit-content;
    padding: 5px;
}
 li{
    list-style-type: none;
    font-size: 1.2rem;
 }
 .abt-btn{
    background: none;
    padding: 2px;
 }