
   .great{
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   opacity: 0;
   transform: translateY(40px);
  animation: fadeUp 1.2s ease forwards;

}
.top-page{
   height: 10%;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 10px;

}
.intro {
   height: 90%;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 15px;
   margin: 0;
}

.location-container {
   font-size: clamp(1.4rem, 1.6rem, 1.3rem);
    margin: 0;
   padding: 0;
   color: rgb(22, 208, 190);
}

.intro-text-container{
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
}
.text-name{
font-size: clamp(1rem, 1.2rem, 1.7rem);
margin: 0;
color: rgb(173, 170, 170);
}
.text-profession{
font-size: clamp(0.8rem, 1rem, 1.2rem)
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
nav{
  flex:1;
 display:flex;
  justify-content: center;
}

ul{
   margin: 0;
   padding: 0;
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 10px;
}
 .name-gre{
   font-size: clamp(0.6rem, 0.6rem, 1rem);
 }

li{
   text-align: center;
   color: white;
   margin: 0px;
   padding: 0px;
   list-style: none;
   font-size: clamp(0.4rem, 0.5rem, 1rem);
}


.soft-sec{
   color: rgb(22, 208, 190);
}

@media (min-width: 350px) {
   .top-page{
      flex-direction: column;
      height: 15%;
   }
   .intro{
      height: 75%;
      align-items: flex-start;
      justify-content: flex-start;
   }
   .location-container{
    font-size: 2.2rem;
    margin: 10px 0px 10px 0px;
   }
   .intro-text-container{
       text-align: start;
       align-items: flex-start;
       margin: 0;
   }
   .text-name{
      font-size: 2rem;
      margin: 10px 0px 10px 0px;
   }
   .text-profession{
       line-height: 28px;
      font-size: 1rem;
      margin: 0;
   }
 .name-gre{
   font-size: 1.2rem;
   margin: 10px;
 }
 li{
   font-size: 0.6rem;
 }
}
/*
@media (min-width: 600px) {
   .gre-h1{
      font-size: 2.3rem;
   }
   .top-page{
      padding: 0px;
      height: 20%;
   }
   .intro{
      height: 80%;
   }
   .small-des-gre{
      font-size: 1.2rem;
   }
   .abt-btn{
      font-size: 1.5rem;
   }
   .name-gre{
      font-size: 1.5rem;
   }
}
@media (min-width: 768px) {
  .top-page{
   height: 18%;
  }
  .intro{
   height: 82%;
  }
}

@media (min-width: 1000px) {
  .top-page{
   flex-direction: row;
   justify-content: space-between;
   padding: 20px;
  }
  .logo-gre{
   height: 100%;
   width: 30%;
   margin-left: 20px;
  }
  nav{
   height: 100%;
   width: 70%;
   justify-content: flex-end;
  }
  ul{
   height: 100%;
   width: 60%;
   justify-content: space-around;
  }
  .name-gre{
   font-size: 1.5rem;
  }
  .abt-btn{
   font-size: 1.2rem;
  }
  .gre-h1{
   font-size: 2.5rem;
  }
  .small-des-gre{
   font-size: 1.2rem;
  }
  .ScrollBtn{
   font-size: 1.2rem;
  }
}
@media screen and (orientation: landscape) and (max-height: 500px){
   .abt-btn{
      font-size: 1rem;
   }
   .gre-h1{
      font-size: 1.9rem;
   }
   .small-des-gre{
      font-size: 1rem;
   }
}
*/