.intro {
    border: 5px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 .gre-h1 {
  font-size: 4rem;
}
 .small-des-gre{
    font-size: 1.5rem;
 }
  .ScrollBtn{
    background: none;
  }