 .social-container{
    height: 100%;
    width: 100%;
 }
  .social-title{
    height: 10%;
    width: 100%;
  }
  .soc-icon-container{
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
 .contact-title{
    color: rgb(22, 208, 190);
 }