 .hole-social-container{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
 }
   .social-container{
    height: 70%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
   .social-icon{
       height: 100%;
       width: 30%;
       display: flex;
       justify-content: center;
       align-items: center;
   }
   .social-text{
    height: 60%;
    width: 30%;
    margin: 0;
    padding: 0;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   }
   .social-title{
     height: 10%;
    width: 100%;
    font-size: 3rem;
    margin: 0px;
    padding: 0px;
    text-align: center;
     color: rgb(22, 208, 190);
   }
   .social-description{
    height: 70%;
    width: 80%;
    font-size: 1.3rem;
    text-align: center;
    margin: 0;
    padding: 0;
   }
   .Thanks{
    height: 30%;
    width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
    }
    .thanks-title{
      color:rgb(22, 208, 190);
      margin: 0;
    }
  .blue{
        color: rgb(22, 208, 190);
  }

