.description-container{
  height: 100%;
  width:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  gap:40px;
  padding:60px 40px;
  flex-wrap:wrap;
}


.text-description{
   height: 100%;
   flex:1 1 400px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   margin-left: 10px;
   padding-left: 10px;
}

.imageMe{
   flex:1 1 400px;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.whoami{
   color: rgb(22, 208, 190);
   text-align: center;
   font-size: 3rem;
   margin: 0;
}

.textdes{
   font-size: 1.3rem;
   line-height: 38px;
   text-align: center;
}

/* Responsive Design - Tablets */
@media screen and (max-width: 1024px) {
   .whoami {
      font-size: 2.5rem;
   }
   
   .textdes {
      font-size: 1.1rem;
      line-height: 32px;
   }
   
   .description-container {
      padding: 40px 30px;
      gap: 30px;
   }
}

/* Responsive Design - Mobile */
@media screen and (max-width: 767px) {
   .description-container {
      height: 100%;
      width: 100%;
      flex-direction: column;
      padding:0;
      margin: 0;
      gap: 30px;
   }
   
   .text-description {
      width: 100%;
      order: 2;
      margin: 0;
      padding: 0;
   }
   
   .imageMe {
      width: 100%;
      order: 1;
      min-height: 250px;
   }
   
   .whoami {
      font-size: 2rem;
      margin-bottom: 20px;
   }
   
   .textdes {
      font-size: 1rem;
      line-height: 28px;
      width: 100%;
   }
   
   .testimg {
      font-size: 2.5rem;
   }
}

/* Responsive Design - Small Mobile */
@media screen and (max-width: 480px) {
   .description-container{
    padding: 0px 15px 0px 15px;
   }
   .whoami {
      font-size: 1.5rem;
   }
   
   .textdes {
      font-size: 1rem;
      line-height: 24px;
   }
   .imageMe {
    min-height: 200px;
   }
   .text-description{
    padding-bottom: 20px;
    margin-bottom: 20px;
   }
}


