.description-container{
    display: flex;
    justify-content:space-around;
    align-items: center;
    justify-content: space-between;
}
 .text-description{
  display : flex;
  flex-direction:column;
  text-align: center;
  margin-left: 10px;
  width: 40%;
 }
  .imageMe{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .testimg{
    font-size: 3rem;
    
  }
  .whoami{
    font-size: 3rem;
   margin: 0;
  }
  .textdes{
    font-size: 1.3rem;
    line-height: 38px;
  }