.description-container{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
 .text-description{
  height: 100%;
  width: 40%;
  display : flex;
  flex-direction:column;
  justify-content: center;
  text-align: center;
  margin-left: 10px;
  padding-left: 10px;
 }
  .imageMe{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .testimg{
    font-size: 3rem;
  }
  .whoami{
    color: rgb(22, 208, 190);
    text-align: center;
    font-size: 3rem;
   margin: 0;
  }
  .textdes{
    font-size: 1.3rem;
    line-height: 38px;
    text-align: center;
  }
