.description-container{
  height: 100%;
  width:100%;
  display:flex;
flex-direction: column;
padding: 10px 20px;
}


.text-description{
   height: 50%;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
}

.imageMe{
   height: 50%;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.whoami{
   color: rgb(22, 208, 190);
   text-align: center;
   font-size: 2rem;
   margin: 0;
}

.textdes{
   height: 60%;
   width: 100%;
   font-size: 1rem;
   line-height: 25px;
   text-align: center;
}



/* Tablets (Landscape) / Laptops: 769px to 1024px */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .whoami {
    font-size: 1.8rem;
  }
  .textdes {
    font-size: 0.95rem;
  }
}

/* Tablets (Portrait): 481px to 768px */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .description-container {
    padding: 10px 15px;
    height: auto;
  }
  .imageMe {
    height: auto;
    padding: 20px 0;
  }
  .text-description {
    height: auto;
    padding: 10px 0;
  }
  .whoami {
    font-size: 1.6rem;
  }
  .textdes {
    font-size: 0.95rem;
  }
}

/* Mobile: Up to 480px */
@media screen and (max-width: 480px) {
  .description-container {
    padding: 10px 15px;
    height: auto;
  }
  .imageMe {
    height: auto;
    padding: 20px 0;
  }
  .text-description {
    height: auto;
    padding: 10px 0;
  }
  .whoami {
    font-size: 1.4rem;
  }
  .textdes {
    font-size: 0.9rem;
    line-height: 22px;
  }
}