.description-container{
  height: 100%;
  width:100%;
  display:flex;
flex-direction: column;
padding: 10px 20px;
}


.text-description{
   height: 50%;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
}

.imageMe{
   height: 50%;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.whoami{
   color: rgb(22, 208, 190);
   text-align: center;
   font-size: 2rem;
   margin: 0;
}

.textdes{
   height: 60%;
   width: 100%;
   font-size: 1rem;
   line-height: 25px;
   text-align: center;
}



