.description-container{
    display: flex;
    justify-content:space-around;
    align-items: center;
    justify-content: space-between;
}
 .text-description{
  display : flex;
  flex-direction: column;
  width: 50%;
 }
  .imageMe{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .testimg{
    font-size: 3rem;
    
  }
  .whoami{
    font-size: 3rem;
    margin: 0px 0px 10px 10px;


  }
  .textdes{
    font-size: 1.3rem;
    margin: 10px 0px 0px 5px;

  }