.description-container{
  width:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  gap:40px;
  padding:60px 40px;
  flex-wrap:wrap;
}


.text-description{
   height: 100%;
   flex:1 1 400px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   margin-left: 10px;
   padding-left: 10px;
}

.imageMe{
   flex:1 1 400px;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.testimg{
   font-size: 3rem;
}

.whoami{
   color: rgb(22, 208, 190);
   text-align: center;
   font-size: 3rem;
   margin: 0;
}

.textdes{
   font-size: 1.3rem;
   line-height: 38px;
   text-align: center;
}


