.description-container{
  width:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  gap:40px;
  padding:60px 40px;
  flex-wrap:wrap;
}


.text-description{
   height: 100%;
   flex:1 1 400px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   margin-left: 10px;
   padding-left: 10px;
}

.imageMe{
   flex:1 1 400px;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.testimg{
   font-size: 3rem;
}

.whoami{
   color: rgb(22, 208, 190);
   text-align: center;
   font-size: 3rem;
   margin: 0;
}

.textdes{
   font-size: 1.3rem;
   line-height: 38px;
   text-align: center;
}

/* Responsive Breakpoints */
@media screen and (max-width: 1024px) {
  .description-container {
    gap: 30px;
    padding: 50px 30px;
  }
  
  .whoami {
    font-size: 2.5rem;
  }
  
  .textdes {
    font-size: 1.1rem;
    line-height: 32px;
  }
  
  .testimg {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 768px) {
  .description-container {
    flex-direction: column;
    gap: 30px;
    padding: 40px 20px;
  }
  
  .text-description {
    flex: 1 1 auto;
    width: 100%;
    margin-left: 0;
    padding-left: 0;
  }
  
  .imageMe {
    flex: 1 1 auto;
    width: 100%;
    order: -1;
  }
  
  .whoami {
    font-size: 2rem;
  }
  
  .textdes {
    font-size: 1rem;
    line-height: 28px;
  }
  
  .testimg {
    font-size: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .description-container {
    gap: 20px;
    padding: 30px 15px;
  }
  
  .whoami {
    font-size: 1.5rem;
  }
  
  .textdes {
    font-size: 0.9rem;
    line-height: 24px;
  }
  
  .testimg {
    font-size: 1.5rem;
  }
}
