.container-skill{
    display: flex;
    justify-content: space-between;
    border: 2px solid red;
}
 .des-skill{
    width: 70%;
    margin: 0px 0px 0px 5px;
 }
 .pic{
    width: 30%;
    display: flex;
    justify-content: center;
    margin: 40px 0px 0px 0px;
 }
 .title-skill{
    font-size: 4rem;
 }
  .des-skill{
    font-size: 1.5rem;
  }