.container-skill{
  width:100%;
  height: 100%;
  display:flex;
  flex-direction: column;
}


.desc-text{
   height: 60%;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.title-skill{
   color: rgb(22, 208, 190);
   font-size: 2rem;
   margin: autopx;
   padding: 0px;
   text-align: center;
}

.desc-skill{
   width: 70%;
   text-align: center;
   font-size: 1rem;
   line-height: 25px;
   padding: 0px;
   margin: 0px;
}

.skill-icon{
   height: 30%;
   width: 100%;
   display: flex;
   flex-direction: column;
  justify-content: center;
}

.skill-security{
  display:flex;
  gap:10px;
  justify-content:center;
  margin: auto;
}


.skill-tag{
   color: rgb(22, 208, 190);
   text-align: center;
  width:auto;
  padding:8px 16px;
   border-radius: 20px;
   backdrop-filter: blur(10px);
   background: rgba(255,255,255,0.05);
   border: 1px solid rgba(255,255,255,0.15);
   box-shadow: 0 0 15px rgba(255,255,255,0.05);
   transition: all 0.3s ease;
   font-size: 0.6rem;
   margin: 5px;
   display: flex;
}

.skill-tag:hover{
   transform: translateY(-5px) scale(1.05);
   box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}
