.container-skill{
    display: flex;
    justify-content: space-between;
}
 .des-skill{
    width: 70%;
    margin: 0px 0px 10px 5px;
 }
 .pic{
    width: 30%;
    display: flex;
    justify-content: center;
    margin: 0px 0px 0px 0px;
 }
 .title-skill{
    font-size: 3rem;
    padding: 0px 0px 0px 5px;
 }
  .des-skill{
    font-size: 1.3rem;
    line-height: 38px;
    padding: 0px 0px 0px 5px;
  }