.hole-act{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 20px;
}

.act-container{
    height: 95%;
    width: 100%;
    display: flex;
}

.card-container{
  width:100%;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  gap:25px;
  padding:20px;
}


.activity-title{
    color: rgb(22, 208, 190);
  text-align:center;
  margin-bottom: 0;
  font-size: 2rem;
}
