.hole-act{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.act-container{
    height: 95%;
    width: 100%;
 display: flex;
}
.card-container{
    width: 100%;
    height: 100%;
    display: flex;
}
.activity-title{
    height: 5%;
    width: 100%;
    color: rgb(22, 208, 190);
    font-size: 3rem;
    margin-left: 5px;
    padding-left: 10px;
}