html {
  scroll-behavior: smooth;
}
section{
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  scroll-snap-align: start;
  display: flex;
}

main {
   height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

/* Tablets (Portrait): 481px to 768px */
@media screen and (min-width: 481px) and (max-width: 768px) {
  section {
    height: auto;
    min-height: 100vh;
    scroll-snap-align: none;
  }
  main {
    height: 100vh;
    scroll-snap-type: none;
  }
}

/* Mobile: Up to 480px */
@media screen and (max-width: 480px) {
  section {
    height: auto;
    min-height: 100vh;
    scroll-snap-align: none;
  }
  main {
    height: 100vh;
    scroll-snap-type: none;
  }
}
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

