 .cards-struct {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
 }
.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start; /* Keeps titles aligned at the top */
  justify-content: space-between; /* Spreads them evenly across the width */
  gap: 20px; /* Adds space between the columns */
}
 