 .cards-struct {
    border: 2px solid blue;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
 }
 .desc-cards{
   display: flex;
   flex-direction: column;
 }
 .cards-title{

 }
 .cards-description{
  
 }