 .cards-struct {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .logo-cards {
  height: 250px; 
  display: flex;
  align-items: center;
  justify-content: center; 
  margin-bottom: 20px;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start; 
  justify-content: space-between; 
  gap: 20px;
}
.des.cards{
  display: inline;
}
 